/vendor
/node_modules
.env
.DS_Store
Thumbs.db
/storage/*.log
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!.gitignore
/.phpunit.result.cache
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
docker-compose.override.yml
/ssl/*.pem
!/ssl/.gitkeep
